<div class="service">
  <div>
    <div class="flex justify-center">
      <img
        src="../../../assets/images/api-image.jpg"
        class="flex align-middle justify-center"
        alt="background"
      />
    </div>
    <div class="flex mb-4 flex-col items-center justify-center m-auto">
      <p
        class="uppercase text-lg mx-auto text-center rounded-sm text-black font-bold"
      >
        api rest
      </p>
      <div class="w-80 text-center text-md text-[#9c9797] font-medium">
        Développement d&apos;API REST Java/Javascript/Typescript avec
        sécurisation via JWT, documentation Swagger et sécurisation pour une
        intégration fluide et sécurisée de vos systèmes de données.
      </div>
    </div>
  </div>
  <div>
    <div class="flex justify-center">
      <img
        src="../../../assets/images/front-end.jpg"
        class="flex align-middle justify-center"
        alt="background"
      />
    </div>
    <div class="flex mb-4 flex-col items-center justify-center m-auto">
      <p
        class="uppercase text-lg mx-auto text-center rounded-sm text-black font-bold"
      >
        frontend
      </p>
      <div class="w-80 text-center text-md text-[#9c9797] font-medium">
        Développement frontend axé sur Angular, ReactJS et Next.js, avec une
        approche adaptée pour créer des interfaces utilisateur dynamiques et
        conviviales.
      </div>
    </div>
  </div>
  <div>
    <div class="flex justify-center">
      <img
        src="../../../assets/images/docker-image.png"
        class="flex align-middle justify-center"
        alt="background"
      />
    </div>
    <div class="flex mb-4 flex-col items-center justify-center m-auto">
      <p
        class="uppercase text-lg mx-auto text-center rounded-sm text-black font-bold"
      >
        docker/ci
      </p>
      <div class="w-80 text-center text-md text-[#9c9797] font-medium">
        Pratiquant également la CI en tandem avec Docker, je m&apos;assure de
        fournir des solutions d’intégration fluides et efficaces pour vos
        projets, garantissant ainsi une flexibilité et une scalabilité
        optimales.
      </div>
    </div>
  </div>
</div>

<style>
  img {
    width: 30vh;
    height: 27vh;
    border-radius: 2%;
  }

  .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  @media screen and (min-width: 1000px) {
    .service {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }
</style>
